<form action="/cuentas/guardar" method="post">
  <input type="hidden" value="<%= encodedKey %>" name="clienteEncodedKey" >
  <input type="text" placeholder="Nombre de la cuenta" name="nombre">
  <input type="submit" value="Guardar">

</form>